[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/blocksmith.js"]
	path = lib/blocksmith.js
	url = https://github.com/adraffy/blocksmith.js
